/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #181818;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Common Style */
.common-btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  cursor: pointer;
  transition: 0.3s ease;
}

.common-btn:hover {
  background-color: transparent;
  color: #fd6e0a;
}

.common-btn-outline {
  background-color: transparent;
  color: #fd6e0a;
}
